<div class="row row-centered">
<div id="clearance" class="sign-in col-md-6 col-xs-8 col-centered">
	<%=image_tag "mykeylogo_to-dave-02.png", size: "200x100", class: "img-responsive", id: "logo"%>

<div id="signinform">
  <%= render partial: '/sessions/form' %>
</div>
</div>
</div>