<div class="well">
  <h3> New Client</h3>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Submit",class: "btn btn-default" %>
    </div>


  <% end %>
</div>
