<div class="col-lg-12">
<h1 class="page-header">Account</h1>
<div>
<h2 id="notice">This page will be active when you get your key.</h2>
<%=image_tag "mykeylogo_to-dave-02.png", size: "150x50", class: "img-responsive", id: "logo"%>
