@import "jquery-ui/core.css";
@import "jquery-ui/theme.css";
@import "jquery-ui/datepicker.css";
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	margin-top: 80px;
  width:100%;
}

.sign-in {
  margin:8% 0%;
}

#notice {
  text-align:center;
}

.well {
	margin:0% 30%;
  margin-top: 60px;
}

.small_well {
  margin: 0% 0%;
}

#logo {
	margin: 0 auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 60px;
  padding: 7px 15px;
  width: auto;
}

.nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#signinform {
	margin-top: 40px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

#myCarousel{
  height: 390px;
  width: 500px;
}

.carousel-inner > .item > img {
    margin: auto auto;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}